<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Add room</b></ng-template>
    <ng-template ngbTabContent>
        <div class="col-md-8" style="margin-left: 20px" >
        <form [formGroup]="addReservation" id="addReservation">
          <h4>Location:</h4>
          <div class="form-group row">
              <label for="locationname" class="col-sm-4 col-form-label">Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="locationname" placeholder="Location name"
                  formControlName="locationname" [ngClass]="{'is-invalid':addReservation.get('locationname').touched && addReservation.get('locationname').invalid}"
                  required>
                <div *ngIf="addReservation.get('locationname').touched && addReservation.get('locationname').invalid"
                  class="invalid-feedback">
                  <div>Location name is required</div>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
                <label for="locationCords" class="col-sm-4 col-form-label">Cordinates:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="locationCords" placeholder="Location coordinates"
                    formControlName="locationCords" [ngClass]="{'is-invalid':addReservation.get('locationCords').touched && addReservation.get('locationCords').invalid}"
                    required>
                  <div *ngIf="addReservation.get('locationCords').touched && addReservation.get('locationCords').invalid"
                    class="invalid-feedback">
                    <div>Location name is required</div>
                  </div>
                </div>
              </div>
              <hr>
              <h4>Room configuration:</h4>
              <div class="form-group row">
                  <label for="selectType" class="col-sm-4 col-form-label">Select room type:</label>
                  <div class="col-sm-8">
                    <select  class="form-control" id="selectType" placeholder="Room type"
                      formControlName="selectType" [ngClass]="{'is-invalid':addReservation.get('selectType').touched && addReservation.get('selectType').invalid}"
                      required>
                      <option>hotel</option>
                      <option>bed&breakfast,</option>
                      <option>apartman</option>
                      </select>
                    <div *ngIf="addReservation.get('selectType').touched && addReservation.get('selectType').invalid"
                      class="invalid-feedback">
                      <div>Location name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="roomDescription" class="col-sm-4 col-form-label">Description:</label>
                    <div class="col-sm-8">
                      <textarea  rows="3" class="form-control" id="roomDescription" placeholder="Room description"
                        formControlName="roomDescription" [ngClass]="{'is-invalid':addReservation.get('roomDescription').touched && addReservation.get('roomDescription').invalid}"
                        required></textarea>
                      <div *ngIf="addReservation.get('roomDescription').touched && addReservation.get('roomDescription').invalid"
                        class="invalid-feedback">
                        <div>Location name is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <label for="numberOfPersons" class="col-sm-4 col-form-label">Number of persons:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="numberOfPersons" placeholder="Location coordinates"
                          formControlName="numberOfPersons" [ngClass]="{'is-invalid':addReservation.get('numberOfPersons').touched && addReservation.get('numberOfPersons').invalid}"
                          required>
                        <div *ngIf="addReservation.get('numberOfPersons').touched && addReservation.get('numberOfPersons').invalid"
                          class="invalid-feedback">
                          <div>Location name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="roomAdditionalServices" class="col-sm-4 col-form-label">Additional room services:</label>
                        <div class="col-sm-8">
                          <select multiple class="form-control" id="roomAdditionalServices" placeholder="Room type"
                            formControlName="roomAdditionalServices" [ngClass]="{'is-invalid':addReservation.get('roomAdditionalServices').touched && addReservation.get('roomAdditionalServices').invalid}"
                            required>
                            <option>hotel</option>
                            <option>bed&breakfast,</option>
                            <option>apartman</option>
                            </select>
                          <div *ngIf="addReservation.get('roomAdditionalServices').touched && addReservation.get('roomAdditionalServices').invalid"
                            class="invalid-feedback">
                            <div>Location name is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                          <label for="roomCancel" class="col-sm-4 col-form-label">Room cancel (days):</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="roomCancel" placeholder="Location coordinates"
                              formControlName="roomCancel" [ngClass]="{'is-invalid':addReservation.get('roomCancel').touched && addReservation.get('roomCancel').invalid}"
                              required>
                            <div *ngIf="addReservation.get('roomCancel').touched && addReservation.get('roomCancel').invalid"
                              class="invalid-feedback">
                              <div>Location name is required</div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="roomCancel" class="col-sm-4 col-form-label">Prices:</label>
                            <div class="col-sm-8">
                              <button (click)="openPriceList(price)" >Add price</button>
                              <div *ngIf="addReservation.get('roomCancel').touched && addReservation.get('roomCancel').invalid"
                                class="invalid-feedback">
                                <div>Location name is required</div>
                              </div>
                            </div>
                          </div>

                        <div class="form-group row">
                            <label for="imageUpload" class="col-sm-4 col-form-label">Images upload:</label>
                            <div class="col-sm-8">
                              <input formControlName="imageUpload" type="file" ng2FileSelect accept=".png" [uploader]="uploader" multiple id="imageUpload" placeholder="Location coordinates"
                              [ngClass]="{'is-invalid':addReservation.get('imageUpload').touched && addReservation.get('imageUpload').invalid}"
                                required>
                              <div *ngIf="addReservation.get('imageUpload').touched && addReservation.get('imageUpload').invalid"
                                class="invalid-feedback">
                                <div>Location name is required</div>
                              </div>
                            </div>
                          </div>
                          <table>
                              <thead>
                              <tr>
                                <th width="80%">
                                  File Name
                                </th>
                                <th width="10%">
                                   Size
                                  </th>
                                <th width="10%">
                                  Remove
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let item of uploader.queue">
                                <th width="90%">
                                  {{item._file.name}}
                                </th>
                                <th>{{item._file.size}}B</th>
                                <th class="text-center" width="10%">
                                    <button mat-raised-button color="accent" (click)="item.remove()">delete</button>
                                </th>
                              </tr>
                              </tbody>
                            </table>
                            <br>
          </form>
        </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>kmnknlnlnl
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>





<!--MODALS-->
<!-- SIGN IN MODAL-->
<ng-template #price let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Price Configuration</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-8" style="margin-left: 20px" >
            <form [formGroup]="addPrice" id="addPrice">

                <div class="form-group row">
                    <label for="date" class="col-sm-4 col-form-label">Select date:</label>
                    <div class="col-sm-8">
                        <input type="text" ngbDatepicker #d="ngbDatepicker" class="form-control" id="date" placeholder="Location coordinates"
                        formControlName="date" [ngClass]="{'is-invalid':addPrice.get('date').touched && addPrice.get('date').invalid}"
                        required>
                      <div *ngIf="addPrice.get('date').touched && addPrice.get('date').invalid"
                        class="invalid-feedback">
                        <div>Location name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="price" class="col-sm-4 col-form-label">Price for this mounth:</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" id="price" placeholder="Location coordinates"
                          formControlName="price" [ngClass]="{'is-invalid':addPrice.get('price').touched && addPrice.get('price').invalid}"
                          required>
                        <div *ngIf="addPrice.get('price').touched && addPrice.get('price').invalid"
                          class="invalid-feedback">
                          <div>Location name is required</div>
                        </div>
                      </div>
                    </div>
       
        </form>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary">Add Price</button>
    </div>
  </ng-template>