<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Add room</b></ng-template>
    <ng-template ngbTabContent>
      <div class="col-md-8" style="margin-left: 20px">
        <form [formGroup]="addReservation" id="addReservation" enctype="multipart/form-data">
          <h4>Location:</h4>
          <div class="form-group row">
            <label for="locationname" class="col-sm-4 col-form-label">Place:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="locationname" placeholder="Location place"
                formControlName="locationname"
                [ngClass]="{'is-invalid':addReservation.get('locationname').touched && addReservation.get('locationname').invalid}"
                required>
              <div *ngIf="addReservation.get('locationname').touched && addReservation.get('locationname').invalid"
                class="invalid-feedback">
                <div>Location place is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="locationLat" class="col-sm-4 col-form-label">Latidue:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="locationLat" placeholder="Location coordinates"
                formControlName="locationLat"
                [ngClass]="{'is-invalid':addReservation.get('locationLat').touched && addReservation.get('locationLat').invalid}"
                required>
              <div *ngIf="addReservation.get('locationLat').touched && addReservation.get('locationLat').invalid"
                class="invalid-feedback">
                <div>Location lat is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
              <label for="locationLng" class="col-sm-4 col-form-label">Longitude:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="locationLng" placeholder="Location longitude"
                  formControlName="locationLng"
                  [ngClass]="{'is-invalid':addReservation.get('locationLng').touched && addReservation.get('locationLng').invalid}"
                  required>
                <div *ngIf="addReservation.get('locationLng').touched && addReservation.get('locationLng').invalid"
                  class="invalid-feedback">
                  <div>Location lng is required</div>
                </div>
              </div>
            </div>
          <hr>
          <h4>Room configuration:</h4>
          <div class="form-group row">
            <label for="selectType" class="col-sm-4 col-form-label">Select room type:</label>
            <div class="col-sm-8">
              <select class="form-control" id="selectType" placeholder="Room type" formControlName="selectType"
                [ngClass]="{'is-invalid':addReservation.get('selectType').touched && addReservation.get('selectType').invalid}"
                required>
                <option *ngFor="let type of types;index as i" [ngValue] = "type">{{type.description}}</option>
              </select>
              <div *ngIf="addReservation.get('selectType').touched && addReservation.get('selectType').invalid"
                class="invalid-feedback">
                <div>Room type is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
              <label for="selectCategory" class="col-sm-4 col-form-label">Select room category:</label>
              <div class="col-sm-8">
                <select class="form-control" id="selectCategory" placeholder="Room category" formControlName="selectCategory"
                  [ngClass]="{'is-invalid':addReservation.get('selectCategory').touched && addReservation.get('selectCategory').invalid}"
                  required>
                  <option *ngFor="let cat of categories;index as i" [ngValue] = "cat">{{cat.description}}</option>
                </select>
                <div *ngIf="addReservation.get('selectCategory').touched && addReservation.get('selectCategory').invalid"
                  class="invalid-feedback">
                  <div>Category is required</div>
                </div>
              </div>
            </div>
          <div class="form-group row">
            <label for="roomDescription" class="col-sm-4 col-form-label">Description:</label>
            <div class="col-sm-8">
              <textarea rows="3" class="form-control" id="roomDescription" placeholder="Room description"
                formControlName="roomDescription"
                [ngClass]="{'is-invalid':addReservation.get('roomDescription').touched && addReservation.get('roomDescription').invalid}"
                required></textarea>
              <div
                *ngIf="addReservation.get('roomDescription').touched && addReservation.get('roomDescription').invalid"
                class="invalid-feedback">
                <div>Description is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="numberOfPersons" class="col-sm-4 col-form-label">Number of persons:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="numberOfPersons" placeholder="Location coordinates"
                formControlName="numberOfPersons"
                [ngClass]="{'is-invalid':addReservation.get('numberOfPersons').touched && addReservation.get('numberOfPersons').invalid}"
                required>
              <div
                *ngIf="addReservation.get('numberOfPersons').touched && addReservation.get('numberOfPersons').invalid"
                class="invalid-feedback">
                <div>Number of persons is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="roomAdditionalServices" class="col-sm-4 col-form-label">Additional room services:</label>
            <div class="col-sm-8">
              <select multiple class="form-control" id="roomAdditionalServices" placeholder="Room type"
                formControlName="roomAdditionalServices"
                [ngClass]="{'is-invalid':addReservation.get('roomAdditionalServices').touched && addReservation.get('roomAdditionalServices').invalid}"
                required>
                <option *ngFor="let add of addServices;index as i" [ngValue] = "cat">{{add.description}}</option>
              </select>
              <div
                *ngIf="addReservation.get('roomAdditionalServices').touched && addReservation.get('roomAdditionalServices').invalid"
                class="invalid-feedback">
                <div>Additional services is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="roomCancel" class="col-sm-4 col-form-label">Room cancel (days):</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="roomCancel" placeholder="Location coordinates"
                formControlName="roomCancel"
                [ngClass]="{'is-invalid':addReservation.get('roomCancel').touched && addReservation.get('roomCancel').invalid}"
                required>
              <div *ngIf="addReservation.get('roomCancel').touched && addReservation.get('roomCancel').invalid"
                class="invalid-feedback">
                <div>Room cancel is required</div>
              </div>
            </div>
          </div>
          <hr>
          <h3>Price List configuration</h3>
          <form [formGroup]="addPrice" id="addPrice">

            <div class="form-group row">
              <label for="date" class="col-sm-4 col-form-label">Select date:</label>
              <div class="col-sm-8">
                <mat-form-field>
                  <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="date"
                    [ngClass]="{'is-invalid':addPrice.get('date').touched && addPrice.get('date').invalid}" required>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp touchUi startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                  </mat-datepicker>
                </mat-form-field>
                <div *ngIf="addPrice.get('date').touched && addPrice.get('date').invalid" class="invalid-feedback">
                  <div>Date is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-sm-4 col-form-label">Price for this month:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="price" placeholder="Price for this month"
                  formControlName="price"
                  [ngClass]="{'is-invalid':addPrice.get('price').touched && addPrice.get('price').invalid}" required>
                <div *ngIf="addPrice.get('price').touched && addPrice.get('price').invalid" class="invalid-feedback">
                  <div>Price is required</div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!addPrice.valid"  (click)=AddPrice() >Add Price</button>
          </form>
           <table>
            <thead>
              <tr>
                <th width="80%">
                  Date
                </th>
                <th width="10%">
                  Price
                </th>
                <th>
                  Remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of prices;index as i">
                <td width="80%">
                  {{p.month}}
                </td>
                <th>{{p.price}}</th>
                <td class="text-center" width="10%">
                  <button mat-raised-button color="accent" (click)="RemovePrice(i)">delete</button>
                </td>
              </tr>
            </tbody>
          </table>

          <hr>
          <h3>Images:</h3>


          <div class="form-group row">
            <label for="imageUpload" class="col-sm-4 col-form-label">Images upload:</label>
            <div class="col-sm-8">
              <input formControlName="imageUpload" type="file" ng2FileSelect name="files" accept=".png" [uploader]="uploader"
                multiple id="imageUpload" placeholder="Location coordinates"
                [ngClass]="{'is-invalid':addReservation.get('imageUpload').touched && addReservation.get('imageUpload').invalid}"
                required>
              <div *ngIf="addReservation.get('imageUpload').touched && addReservation.get('imageUpload').invalid"
                class="invalid-feedback">
                <div>Image is required</div>
              </div>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th width="80%">
                  File Name
                </th>
                <th width="10%">
                  Size
                </th>
                <th width="10%">
                  Remove
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <th width="90%">
                  {{item._file.name}}
                </th>
                <th>{{item._file.size}}B</th>
                <th class="text-center" width="10%">
                  <button mat-raised-button color="accent" (click)="item.remove()">delete</button>
                </th>
              </tr>
            </tbody>
          </table>
          <br>

        </form>

        <button type="button" class="btn btn-primary" [disabled]="prices.length == 0 || !addReservation.valid || uploader.queue.length == 0 "  (click)="AddRoom()" >Add Room</button>
      <br>
      <br>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Add reservation for room</b></ng-template>
    <ng-template ngbTabContent>
      <br>
        <div class="col-md-8" style="margin-left: 20px">
            <form [formGroup]="addRoomRes" id="addRoomRes">
                <div class="form-group row">
                    <label for="selectRoom" class="col-sm-4 col-form-label">Select room:</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="selectRoom" placeholder="Room type" formControlName="selectRoom"
                        [ngClass]="{'is-invalid':addRoomRes.get('selectRoom').touched && addRoomRes.get('selectRoom').invalid}"
                        required>
                        <option *ngFor="let room of rooms;index as i" [ngValue] = "room">location: {{room.location.name}},beds: {{room.numberOfBeds}}, type: {{room.accommodationType.description}}</option>
                      </select>
                      <div *ngIf="addRoomRes.get('selectRoom').touched && addRoomRes.get('selectRoom').invalid"
                        class="invalid-feedback">
                        <div>Room is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                 <label for="from" class="col-sm-4 col-form-label">Select dates: </label>
                  <div class="col-3">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker2" class="form-control" id="from" formControlName="from"
                          placeholder="From" [ngClass]="{'is-invalid':addRoomRes.get('from').touched && addRoomRes.get('from').invalid}"
                          required>
                        <div *ngIf="addRoomRes.get('from').touched && addRoomRes.get('from').invalid" class="invalid-feedback">
                          <div>Travel time is required</div>
                        </div>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker1" class="form-control" id="to" formControlName="to"
                          placeholder="Landing" [ngClass]="{'is-invalid':addRoomRes.get('to').touched && addRoomRes.get('to').invalid}"
                          required>
                        <div *ngIf="addRoomRes.get('to').touched && addRoomRes.get('to').invalid" class="invalid-feedback">
                          <div>Travel time is required</div>
                        </div>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" [disabled]="!addRoomRes.valid"  (click)=AddReservation() >Add Reservation</button>
                  <br>
              </form>
              </div>


    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Inbox</b></ng-template>
    <ng-template ngbTabContent>
     <br>

     <div class="col-10">
     <table>
        <thead>
          <tr>
            <th width="10%">
              User
            </th>
            <th width="30%">
              Room
            </th>
            <th width="20%">
              Reservation
            </th>
            <th width="35%">
              Message
            </th>
            <th>
               Answer
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of messages;index as i">
              <td >
                  {{p.messageTable.fromUser}}
             </td>
            <td>
              {{p.roomType.description}},location: {{p.location.name}}
            </td>
            <td width="10%">
            {{p.checkIn}} - {{p.checkOut}}
            </td>  
            <td width="60%">
                {{p.messageTable.messageString}}
            </td>
            <td width="10%">
              
           <button type="button" class="btn btn-primary"  (click)="OpenSendMessage(sendMessageModal,p)" >Answer</button>

            </td>
          </tr>
        </tbody>
      </table>
</div>
                 
        

    </ng-template>
  </ngb-tab>

  <ngb-tab>
      <ng-template ngbTabTitle><b>Allow reservations</b></ng-template>
      <ng-template ngbTabContent>
       <br>
       <div class="col-10">
       <table>
          <thead>
            <tr>
              <th width="40%">
                Room
              </th>
              <th width="40%">
                Reservation
              </th>
              <th>
                 Allow
              </th>
              <th>
                  Deny
               </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of reservations;index as i">
              <td>
                  {{p.roomType.description}},location: {{p.location.name}}
              </td>
              <td >
                {{p.reservation.checkIn}} - {{p.reservation.checkOut}}
              </td>  
              <td>
                
             <button type="button" class="btn btn-primary"  (click)="Allow(p)" >Allow</button>
  
              </td>
              <td>
                
                  <button type="button" class="btn btn-primary"  (click)="Deny(p)" >Deny</button>
       
              </td>
            </tr>
          </tbody>
        </table>
  
       </div>    
          
  
      </ng-template>
    </ngb-tab>
</ngb-tabset>


<!-- SIGN IN MODAL-->
<ng-template #sendMessageModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Send message</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col-md-10"> 
      <form name="sendMessageModal" [formGroup]="sendMessage">

       <p>Send Message to : <b>{{user.messageTable.fromUser}}</b></p>

       <div class="form-group row">
          <label for="roomDescription" class="col-sm-4 col-form-label">Message:</label>
          <div class="col-sm-8">
            <textarea rows="5" class="form-control" id="roomDescription" placeholder="Message"
              formControlName="message"
              [ngClass]="{'is-invalid':sendMessage.get('message').touched && sendMessage.get('message').invalid}"
              required></textarea>
            <div
              *ngIf="sendMessage.get('message').touched && sendMessage.get('message').invalid"
              class="invalid-feedback">
              <div>Message is required</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary" [disabled]="!sendMessage.valid" (click)="SendMessage()">SendMessage</button>
    </div>
  </ng-template>




