
<div class="container nesto">
  <div class="card kartica">
    <div class="card-header bg-dark text-white"> <h2>User profile</h2></div>
    <div class="card-body">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{this.userLoginDTO.name}}</td>
          <td>{{this.userLoginDTO.lastName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card kartica">
  <div class="card-header bg-dark text-white"><h2>Pending reservations</h2></div>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td><button class="btn btn-outline-dark">Delete</button></td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td><button class="btn btn-outline-dark">Delete</button></td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td><button class="btn btn-outline-dark">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
  <br>
  <div class="card kartica">
    <div class="card-header bg-dark text-white"><h2>Expired reservations</h2></div>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Review</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td><button class="btn btn-outline-dark">Review</button></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td><button class="btn btn-outline-dark">Review</button></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td><button class="btn btn-outline-dark">Review</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br><br>
<section class="cta py-2 bg-dark text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Save time, save money!</h2>
        <p> Sign up and we'll send the best deals to you </p>
      </div>
    </div>
  </div>
</section>

