<nav class="navbar navbar-expand-lg navbar-dark bg-boja ">
  <a class="navbar-brand" style="color: white; margin-left: 30px;" routerLink="/">
    <img src="assets\images\logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo picture"
         style="border-radius: 50%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-boja" href="#">Rooms</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item ">
        <a class="nav-link font-boja" href="#">User</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link font-boja" href="#"><img src="assets\images\user.png" width="25" height="25" class="d-inline-block align-top" alt="Logo picture"></a>
      </li>

    </ul>
  </div>
</nav>
