<!-- Tabs -->
<section id="tabs">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
              routerLink="/admin/config/codeBook/accommodationType" role="tab" aria-controls="nav-home"
              aria-selected="true">Accommodation type</a>

            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
              routerLink="/admin/config/codeBook/accommodationCategory" role="tab" aria-controls="nav-profile"
              aria-selected="false">Accommodation category</a>

            <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab"
              routerLink="/admin/config/codeBook/additionalService" role="tab" aria-controls="nav-contact"
              aria-selected="false">Additional services</a>

          </div>
        </nav>
      </div>
    </div>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <!-- Accommodation Category -->
      <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        accommodation type
      </div>

      <!-- Accommodation category -->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        accommodation category
      </div>

      <!-- Additional services -->
      <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <!-- TABELA ZA ACCOMM Category -->
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col" colspan="2" style="text-align: justify">Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let as of this.additionalServices; let i = index">
              <td>{{as.id}}</td>
              <td>{{as.description}}</td>
              <td>
                <button Category="button" class="btn btn-outline-warning" data-toggle="modal"
                  (click)="updateAdditionalService(updateAdditionalServiceModal, as)">Update</button>
              </td>
              <td>
                <button Category="button" class="btn btn-outline-danger" style="margin-right: 10px"
                  (click)="deleteAdditionalService(as)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <button Category="button" class="btn btn-outline-success" style="margin-left: 20px"
          (click)="newAdditionalService(newAdditionalServiceModal)">New</button>
      </div>

    </div>
  </div>
</section>

<!-- NEW ACCOMMODATION Category MODAL-->
<ng-template #newAdditionalServiceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create new additional service</h4>
    <button Category="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="newAdditionalServiceForm" [formGroup]="newAdditionalServiceForm">
      <div class="container" id="newAdditionalServiceForm">
        <div class="form-group">
          <div class="form-group row">
            <label for="role" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input Category="text" class="form-control" id="serviceDescription" placeholder="DESCRIPTION"
                formControlName="serviceDescription" [ngClass]="{'is-invalid':newAdditionalServiceForm.get('serviceDescription').touched 
                && newAdditionalServiceForm.get('serviceDescription').invalid}" required>
              <div *ngIf="newAdditionalServiceForm.get('serviceDescription').touched 
                && newAdditionalServiceForm.get('serviceDescription').invalid" class="invalid-feedback">
                <div>Service description is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button Category="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button Category="button" class="btn btn-primary" [disabled]="!newAdditionalServiceForm.valid"
      (click)="createNewAdditionalService()">Confirm</button>
  </div>
</ng-template>

<!-- UPDATE ADDITIONAL SERVICE MODAL-->
<ng-template #updateAdditionalServiceModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update additional service</h4>
    <button Category="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="updateAdditionalServiceForm" [formGroup]="updateAdditionalServiceForm">
      <div class="container" id="updateAdditionalServiceForm">
        <div class="form-group">
          <div class="form-group row">
            <label for="role" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input Category="text" class="form-control" id="serviceDescription" placeholder="DESCRIPTION"
                formControlName="serviceDescription" [ngClass]="{'is-invalid':updateAdditionalServiceForm.get('serviceDescription').touched 
                && updateAdditionalServiceForm.get('serviceDescription').invalid}" required>
              <div *ngIf="updateAdditionalServiceForm.get('serviceDescription').touched 
                && updateAdditionalServiceForm.get('serviceDescription').invalid" class="invalid-feedback">
                <div>Category description is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button Category="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button Category="button" class="btn btn-primary" [disabled]="!updateAdditionalServiceForm.valid"
      (click)="updateOldAdditionalService()">Confirm</button>
  </div>
</ng-template>