<section class="listings">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Your booking details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 naslovi">
                    <p>Check in: {{checkIn | date}}</p>
                    <p>Check out: {{checkOut  | date}}</p>
                    <p>Total length of stay: {{room.totalDays}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Your booking includes</div>
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12">
                    <p>Category: {{room.room.accommodationCategory.description}}</p>
                    <p>Type: {{room.room.accommodationType.description}} </p>
                    <p>Additional services:</p>
                    <ul>
                      <li  *ngFor="let r of room.room.roomAdditionalService; let i=index">
                        {{r.description}}
                      </li>
                    </ul>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Price</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 naslovi" *ngIf="room.priceList!=null">

                    {{room.totalDays}} x {{room.priceList.price}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <img src="{{room.room.image[0]}}">
                  </div>
                  <div class="col-md-6  card-body">
                    <div class="list-title">
                      <ul class="list-inline list-unstyled">
                          <h4>{{room.room.location.name}}</h4>
                        <li class="list-inline-item text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                          class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                        <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                      </ul>
                    </div>
                    <div class="list-location">
                      <a href="#"><i class="fa fa-map-marker"></i><small> Lat: {{room.room.location.lat}}, Lng: {{room.room.location.lng}}</small> </a>
                    </div>
                    <div class="list-descrip">
                      <small>{{room.room.description}}</small>
                    </div>
                    <br>
                    <div class="col-md-5 border-top card-body">
                      <button type="button" class="btn btn-outline-primary" (click)="Reserve()">Finish</button>
                    </div>
                  </div>
                  <!--<div class="col-md-3 border-left card-body">
                    <ul class="list-unstyled">
                      <li>
                        <h3>Very Good</h3>
                      </li>
                      <li class="text-secondary"><small>8067 Reviews </small></li>
                    </ul>
                    <button type="button" class="btn btn-outline-primary">Book Now</button>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <table>
            <thead>
              <th width=10%>
                User
              </th>
              <th width=10%>
                  Rate
                </th>
                <th width=80%>
                    Comment
                </th>
            </thead>
            <tbody>
              <tr  *ngFor="let r of room.ratesAndComments; let i=index">
                <td>
                  {{r.regUser.username}}
                </td>
                <td>
                  {{r.rating}}
                </td>
                <td>
                  {{r.comment}}
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <hr>
          <h3>Gallery</h3>
          <br>
          <div class="container">
              <div class="row">
                <div class="col-md-12 py-3">
                  <ngb-carousel *ngIf="room.room.image">
                    <ng-template ngbSlide *ngFor="let img of room.room.image">
                      <img style="height: 400px;" [src]="img" alt="Random slide">
                    </ng-template>
                  </ngb-carousel>
                </div>
              </div>
            </div>
            <br>
      </div>
     
    </div>
  </div>
</section>


