<section class="listings">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Your booking details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 naslovi">
                    <p>Check in: </p>
                    <p>Check out: </p>
                    <p>Total length of stay: </p>
                    <p>You selected: </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Your booking includes</div>
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12">
                    <p>nesto </p>
                    <p>nesto  </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-header naslovi">Price</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 naslovi">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <img src="https://dynamic.realestateindia.com/proj_images/project14122/proj_img-14122_1-small.jpg">
                  </div>
                  <div class="col-md-6  card-body">
                    <div class="list-title">
                      <ul class="list-inline list-unstyled">
                          <h4>Nugget Casino Resort</h4>
                        <li class="list-inline-item text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                          class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                        <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                      </ul>
                    </div>
                    <div class="list-location">
                      <a href="#"><i class="fa fa-map-marker"></i><small> Sparks, Reno – Show on map (4.7 km from
                        center)</small> </a>
                    </div>
                    <div class="list-descrip">
                      <small>This Sparks casino hotel is located in the Sierra Nevada Mountains. This resort features
                        free airport shuttle services, a casino, a nightclub and 8 restaurants and bars. </small>
                    </div>
                    <br>
                    <div class="col-md-5 border-top card-body">
                      <button type="button" class="btn btn-outline-primary" >Finish</button>
                    </div>
                  </div>
                  <!--<div class="col-md-3 border-left card-body">
                    <ul class="list-unstyled">
                      <li>
                        <h3>Very Good</h3>
                      </li>
                      <li class="text-secondary"><small>8067 Reviews </small></li>
                    </ul>
                    <button type="button" class="btn btn-outline-primary">Book Now</button>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


