
<div class="nesto">
  <div class="card bg-basic text-black kartica">
    <div class="card-header naslov">Change password</div>
    <form name="changepassForm" [formGroup]="changepassForm">
      <div class="container" id="changepass-form">
        <div class="form-group">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">visibility_off</i></span>
            </div>
            <input type="password" class="form-control" placeholder="NEW PASSWORD" id="newpassword-value"
                   formControlName="newPassword"
                   [ngClass]="{'is-invalid' : changepassForm.get('newPassword').touched && changepassForm.get('newPassword').invalid}"
                   required />
            <div *ngIf="changepassForm.get('newPassword').touched && changepassForm.get('newPassword').invalid"
                 class="invalid-feedback">
              <div *ngIf="changepassForm.get('newPassword').errors.required">Password is required</div>
              <div *ngIf="changepassForm.get('newPassword').errors.minlength">Password must be at least 4 character long</div>
              <div *ngIf="changepassForm.get('newPassword').errors.passwordError">{{errorMessage}}</div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">visibility_off</i></span>
            </div>
            <input type="password" class="form-control" placeholder="CONFIRM PASSWORD" id="confirmpassword-value"
                   formControlName="confirmPassword"
                   [ngClass]="{'is-invalid' : changepassForm.get('confirmPassword').touched && changepassForm.get('confirmPassword').invalid}"
                   required />
            <div *ngIf="changepassForm.get('confirmPassword').touched && changepassForm.get('confirmPassword').invalid"
                 class="invalid-feedback">
              <div *ngIf="changepassForm.get('confirmPassword').errors.required">Password is required</div>
              <div *ngIf="changepassForm.get('confirmPassword').errors.minlength">Password must be at least 4 character long</div>
              <div *ngIf="changepassForm.get('confirmPassword').errors.passwordError">{{errorMessage}}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!changepassForm.valid" (click)="ChangeMe()" >Change</button>
    </div>
</div>
