<section class="listings">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card bg-warning">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Search</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <form name="searchForm" [formGroup]="searchForm">
                      <div class="form-group">
                        <input type="text" class="form-control searchInput bookInput" aria-label="Large"
                          placeholder="Where are you going?" id="destination" formControlName="destination">
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control dateInput" formControlName="checkIn" placeholder="Check in"
                            ngbDatepicker #d="ngbDatepicker" aria-label="Large" id="checkIn">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                              type="button"></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control dateInput" formControlName="checkOut" placeholder="Check out"
                            ngbDatepicker #d2="ngbDatepicker" aria-label="Large" id="checkOut">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                              type="button"></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <select class="form-control">
                          <option>{{numOfPeople}} people</option>
                          <option>1 person</option>
                          <option>2 people</option>
                          <option>3 people</option>
                          <option>4 people</option>
                          <option>5 people</option>
                          <option>6 people</option>
                        </select>
                      </div>
                      <hr>
                      <button type="btn" class="btn btn-primary">Find Now</button>
                      <button type="btn" class="btn btn-primary">Reset All</button>
                      <div class="pb-3"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12">
            <div class="card bg-basic text-black">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Filter by</h3>
                  </div>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">

                      <div>
                        <label class="labelkat">Property type</label>
                        
                          <div *ngFor="let ai of types; let i=index">
                            <div class="chiller_cb">
                              <input [id]="ai.description" type="checkbox" [checked]= "ai.active == false" (click)="ChangeMeType(i)">
                              <label [for]="ai.description" class="array-item-title">
                                {{ai.description}}</label>
                              <span></span>
                            </div>
                          </div>
                        
                      </div>

                    </div>
                    <div class="form-group">
                      <div>
                          <label class="labelkat">Category</label>
                          <div *ngFor="let ac of categories; let i=index">
                              <div class="chiller_cb">
                                <input [id]="ac.description" [checked]= "ac.active == false" type="checkbox" (click)="ChangeMeCategories(i)">
                                <label [for]="ac.description" class="array-item-title">
                                  {{ac.description}}</label>
                                <span></span>
                              </div>
                            </div>
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <div>
                        <label class="labelkat">Additional services</label>

                        <div *ngFor="let ass of additionalServices; let i=index">
                            <div class="chiller_cb">
                              <input [id]="ass.description" type="checkbox" [checked]= "ass.active == false" (click)="ChangeMeAdditionalServices(i)">
                              <label [for]="ass.description" class="array-item-title">
                                {{ass.description}}</label>
                              <span></span>
                            </div>
                          </div>
                      </div>
                    </div>

                    <hr>
                    <button type="btn" class="btn btn-primary" (click)="filterClicked()">Find Now</button>
                    <button type="btn" class="btn btn-primary" (click)="resetFilter()">Reset All</button>
                    <div class="pb-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <h2> {{destination}}: {{roomsCopy.length}} properties found </h2>
            <p> {{roomsCopy.length}} Reasons to Visit: gambling, entertainment & relaxation </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-justified nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#">Price</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-light" href="#">Distance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-light" href="#">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bg-light" href="#">Category</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngFor="let r of roomsCopy; let i=index" class="row mb-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <img src="{{r.image[0]}}">
                  </div>
                  <div class="col-md-6  card-body">
                    <div class="list-title">
                      <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><a href="#">
                            <h4>{{r.location.name}}</h4>
                          </a></li>
                        <li class="list-inline-item text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                        <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                      </ul>
                    </div>
                    <div class="list-location">
                      <a href="#"><i class="fa fa-map-marker"></i><small>{{r.location.name}}</small> </a>
                    </div>
                    <div class="list-descrip">
                      <small>{{r.description}} </small>
                    </div>



                  </div>
                  <div class="col-md-3 border-left card-body">
                    <ul class="list-unstyled">
                      <li>
                        <h3>Click Book Now to see details!</h3>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-outline-primary" (click)="reservation(r.id)">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</section>
<section class="cta py-5 bg-primary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Save time, save money!</h2>
        <p> Sign up and we'll send the best deals to you </p>
      </div>
    </div>
  </div>
</section>
<section class="cta-btm py-2 bg-info">
  <div class="row text-center">
    <div class="col-md-12 ">
      <button type="button" class="btn btn-outline-light">Book Now</button>
      <button type="button" class="btn btn-outline-light">Sell Services</button>
    </div>
  </div>
</section>