<h4>
  admin-user-configuration works!
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ccc</th>
      <td> cc</td>
      <td> c</td>
      <td>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateUserModal" 
        >Update</button>
      </td>
    </tr>
  </tbody>
</table>