<h4>
  admin-role-configuration works!
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Role</th>
      <th scope="col">Privilages</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">11</th>
      <td>admin</td>
      <td>write, read</td>
      <td>
        <!---->
        <button type="button" class="btn btn-outline-primary" style="margin-right: 10px" data-toggle="modal"
          data-target="#updateRoleModal">Update</button>

        <button type="button" class="btn btn-outline-danger">Delete</button>

      </td>
    </tr>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-success" style="margin-left: 20px" data-toggle="modal"
  data-target="#newRoleModal">New</button>