
<form [formGroup]="certificateForm">
  <div>
  <label>
    Description:
    <input type="text" formControlName="description" id="description">
  </label>
</div>
<div>
  <label>
    Version:
    <input type="text" formControlName="version">
  </label>
</div>
<div>
  <label>
    Issuer Name:
    <input type="text" formControlName="nameIssuer">
  </label>
</div>
<div>
  <label>
    Begin Date:
    <input type="date" formControlName="beginDate">
  </label>
</div>
<div>
  <label>
    Expiration Date:
    <input type="date" formControlName="expirationDate">
  </label>
</div>
<div>
  <label>
    Subject Name:
    <input type="text" formControlName="nameSubject">
  </label>
</div>
<div>
  <label>
    Signature:
    <input type="text" formControlName="signature">
  </label>
</div>
</form>
